*{
    margin: 0;
    padding: 0;
}

.yellow-alert{
    background-color: rgb(254, 240, 138);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cyber{
    background-color: rgb(15, 23, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-cyber{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-cyber ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.center-cyber ul li{
    padding: 20px;
}

.menu-items{
    color: gray;
}

.menu-items button{
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-items button:hover{
    background: #7F7FD5;
}

.logo{
    color: white;
    font-size: 17px;
}